.App {
  text-align: center;
}

.grid {
  display: inline-block;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
}

.blank {
  background-color: #fff;
}
.speeder {
  background-color: lightblue;
}
.lava {
  background-color: red;
}
.mud {
  background-color: brown;
}
.player {
  outline: 2px solid black;
}
.end {
  border: 2px dashed green;
}